button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

h1 {
  font-family: 'Avenir Next Demi Bold', var(--backup-fonts);
  font-size: 17px;
  line-height: 60px;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

h1 img {
  bottom: 0;
  position: absolute;
  right: 12px;
}

h2, h3 {
  margin: 0 0 6px 12px;
  text-align: left;
}

h2 {
  font-family: 'Avenir Next Demi Bold', var(--backup-fonts);
  font-size: 16px;
}

h3 {
  font-family: 'Avenir Next Regular', var(--backup-fonts);
  font-size: 12px;
  font-weight: normal;
}

.close-details {
  appearance: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.close-details:hover img {
  filter: drop-shadow(-1px 1px 1px #444444);
}

.contact {
  color: var(--contact-color);
  display: block;
  font-size: 16px;
}

.contact a {
  color: var(--contact-color);
  text-decoration: inherit;
}

.contact p {
  margin: 16px 0 10px 12px;
}

.details {
  background: #ffffff;
  display: block;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.2s;
  width: var(--column-width);
}

.details iframe {
  border: none;
  display: block;
  height: var(--row-height);
  width: var(--column-width);
}

.detail-name {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.detail-name-wrapper {
  background: var(--details-name-color);
  display: block;
  height: var(--details-name-height);
  position: relative;
}

.flex-column {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.gradient {
  left: 0;
  position: absolute;
  top: 0;
}

.header {
  background: var(--header-background);
  display: block;
  height: var(--header-height);
  position: relative;
  margin: 0;
  width: 100%;
}

.restaurant-item {
  max-height: var(--row-height);
  position: relative;
  max-width: var(--column-width);
}

.restaurant-item:hover img {
  filter: brightness(70%);
}

.restaurant-item img {
  display: block;
  height: auto;
  width: 100%;
}

.restaurant-item-name {
  bottom: 0;
  position: absolute;
}
