body {
  color: #ffffff;
  font-family: 'Avenir Next Regular', var(--backup-fonts);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --backup-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --column-width: 320px;
  --contact-color: #2a2a2a;
  --content-width: 640px;
  --details-name-color: #34b379;
  --details-name-height: 60px;
  --header-background: #43e895;
  --header-height: 90px;
  --row-height: 180px;
}

#root {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
  width: 100%;
}
